
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

@font-face {
  font-family: goboldbold;
  src: url('./assets/font/goboldbold.otf');
}

body {
  text-transform: uppercase;
  background: #343334;
  color: rgb(240, 240, 240);
  font-family: goboldbold;
  font-size: 20px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-main {
  margin-bottom: 20px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 100px;
}

button:hover {
  color: white;
}

hr {
  margin: 45px 0;
}

button {
  padding: 10px;
  border: 1px solid #251912;
  font-family: inherit;
  text-transform: inherit;
  font-size: inherit;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

/* ---- components ---- */

/* Forms */

form .form-fields-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

form .form-fields {
  width: 50%;
  min-width: 300px;
}

form label {
  display: block;
}

form input,
.beer-list-search {
  color: #e7c61d;
  background: none;
  border: none;
  border-bottom: 1px solid;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 20px;
}

form input:focus,
form button:focus,
.beer-list-search {
  outline: none;
}

form .inline-items-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

form .inline {
  width: 100%;
}

form .inline.active-field {
  margin: 0 10px;
}

form select {
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  text-transform: inherit;
}

form .btn {
  display: inline-block;
  width: 48%;
}

form .btn.submit {
  background: #e7c61d;
}

form .btn.edit {
  background: #b95c1d;
}

form .btn.clear {
  float: right;
  background: #950000;
}

form span.required {
  color: red;
}

/* Admin page */

#admin-header {
  margin-bottom: 10px;
}

#admin-header h2 {
  margin-top: 5px;
}

#admin-header h3 {
  display: inline-block;
  margin: 0;
}

#admin-header button {
  background: red;
  margin-left: 20px;
  width: 100px;
  padding: 0;
  float: right;
}

/* Admin page / beer list */

.beer-list-container {
  border: 1px solid #e7c61d;
  padding: 5px;
  height: 350px;
  max-height: 350px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.beer-list-slot {
  padding: 5px;
  margin-bottom: 10px;
}

.beer-list-slot:hover {
  box-shadow: 0px 0px 15px #ffffff;
}

.list-beer-info {
  font-size: 80%;
  display: block;
}

.list-beer-info p {
  display: inline-block;
}

/* Login */

.login {
  border: 1px solid rgb(192, 192, 192, 0.2);
  padding: 40px;
}

/* Home page */

/* device detector */

* default state */
#state-indicator {
    position: absolute;
    top: -999em;
    left: -999em;

    z-index: 1;
}

/* small desktop */
@media all and (max-width: 1200px) {
    #state-indicator {
        z-index: 2;
    }
}

/* tablet */
@media all and (max-width: 1024px) {
    #state-indicator {
        z-index: 3;
    }
}

/* mobile phone */
@media all and (max-width: 768px) {
    #state-indicator {
        z-index: 4;
    }
}